
.txt-siz{
    font-size: 350%;
}
.fnt-clr{
    color: yellow;
}
.bnr-txt{
    margin-bottom: 7%;
    width: 50%;
    margin-left: 10%;
}
.strt-btn{
    width: 187px;
    height: 56px;
    left: 717px;
    top: 620px;
    background-color: #289BDE;
    color: white;
}
.bnr-imx-six{
    
    
}