
.txt-siz{
    font-size: 350%;
}
.fnt-clr{
    color: yellow;
}
.bnr-bg{
    filter:brightness(60%)
}
.join-bnr{
    padding: 7% ;
    width: 100%;
    height: 100%;
}
.join-btn{
    margin-top: 3%;
    margin-left: 35%;
}
.comp img{
    width: 115px;
    margin-left: 5%;
}
footer{
    padding: 7%;
}
footer i{
    margin-left: 3%;
}

/* ......breakpoint...... */

/* small device */
@media only screen and (max-width: 576px) {
    .bnr-txt{
        width: 50%;
        margin-bottom: -10%;
    }
    .txt-siz{
        font-size: 170%;
    }
    
}
/* medium device */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .bnr-txt{
        width: 50%;
        border: 1px solid red;
        
    }
}